<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${title}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${title}]]</h2></div>

    <form th:action="@{/zamestnanci/uloz}" method="post" th:object="${zam}"
    style="max-width: 500px;margin: 0 auto">

        <input type="hidden" th:field="*{id}">

        <div class="border border-secondary rounded p-3">
<!--            first row-->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Meno:</label>
                <div class="col-sm-8">
                    <label>
                        <input  type="text"  th:field ="*{name}" class="form-control"
                                required minlength="3" maxlength="20"/>
                    </label>
<!--                    pattern=[A-Za-z] -->
                </div>
                </div>
<!--                second row-->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Vek:</label>
                    <div class="col-sm-8">
                        <label>
                            <input type="number" th:field ="*{age}" class="form-control"
                                   required max="100" min="18" />
                        </label>
                    </div>
            </div>
<!--            buttons-->
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2" >Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/zamestnanci}]]";
    }
</script>
</body>
</html>